.App {
  background-color: #282c34;
}

.App-logo {
  max-width: 12rem;
  pointer-events: none;
}


.App-nav {
  width: 80%;
  margin: auto;
  align-items: center;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: white;
}

.App-link {
  color:#fff;
  cursor: pointer;
  text-decoration: none;
  padding: 0 2rem;
}

.linea { 
  box-shadow: -1px 3px 5px 1px rgba(250,250,250,0.75);
  background-color: #fff;
  height: 1px;
}

.ItemList {
  font-size: 2rem;
  text-align: center;
  
}