.grid-container { 
    display: grid;
    padding: 5rem 6rem;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
    background-color: rgb(224, 228, 228);
}

.card-container { 
    text-align: center;
    padding: 2rem 0;
    background-color: #fff;
    border: 2px solid #000;
}

.img-prod { 
    max-width: 5rem;

}